<footer>
  <div class="footer-text">
    <img height="25px" src="/nodejs-icon.svg" alt="node-icon" />
    <h3>Thanks for choosing us.</h3>
</div>
    <p>Copyright &copy; 2021 Francesco Parra</p>
</footer>
