<header>
  <div class="title-div">
    <a href="/">
      <img height="40px" src="/nodejs-icon.svg" alt="node-icon" />
      <h1>City Pollution</h1>
    </a>
  </div>
  <div class="links-div">
    <a href="/new-post">New Post</a>
  </div>
</header>
