<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <section class="error-section">
        <div class="error-title">
          <h3>Error 404</h3>
          <i class="fas fa-plug"></i>
        </div>
        <div class="error-comment">
          <p>Ooops, it seems like the page doesn't exist.</p>
          <a href="/">Back to the home page</a>
        </div>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
